@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dot-color: #444cf7;
  --dot-size: 16px;
}

.polka {
  opacity: 0.4;
  background-image:  radial-gradient(var(--dot-color) 0.5px, transparent 0.5px), radial-gradient(var(--dot-color) 0.5px, transparent 0.5px);
  background-size: calc(var(--dot-size) * 2) calc(var(--dot-size) * 2);
  background-position: 0 0, var(--dot-size) var(--dot-size);
}

@layer components {
  .fbc {
      @apply flex justify-between items-center;
  }
  .fcc {
      @apply flex justify-center items-center;
  }
  .fsc {
      @apply flex justify-start items-center;
  }
  .ffc {
      @apply flex flex-col;
  }
  .fec {
      @apply flex justify-end items-center;
  }
  .ffbc {
      @apply flex flex-col items-center justify-between;
  }
  .ffcc {
        @apply flex flex-col items-center justify-center;
  }
}

.twitter-header-item {
    @apply bg-gradient-to-br from-neutral-200/50 to-white;
    box-shadow:  20px 20px 60px #bcbcbc,
             -20px -20px 60px #ffffff;
}

.recess {
  box-shadow:  0px -1px 0px 0px rgba(0,0,0,0.8), 0px 1px 0px 0px rgba(255,255,255,0.15);
}

.scroll-snap-container {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(74px);
  scroll-snap-type: y mandatory;
}

.scroll-snap-child {
  scroll-snap-align: end;
}
